<!DOCTYPE html>
<html>
<head>
	<title>Parent Signin</title>
	<link href="/style.css" rel="stylesheet"/>
</head>
<body bgcolor="#61d6e8">
	
		<div class="header"><img src="/img/smo-logo.png"/><h1>&nbsp;St. Mary's Orphanage & Day School</h1><p>&nbsp;&nbsp;103, Dum Dum Road, Kolkata - 700030.</p></div>
		<br/>
		<hr/>
		<center><h2 class="header1">Student DataBase Management System</h2></center>
		<center>
			<fieldset>
			<legend><b>Enter classroll to access details</b></legend>
			<form action="/View/details_pdf.php" method="post">
			<h4>Enter Your Class-roll</h4>
            <input type="text" id="classroll" name="classroll"><br/><br/>
			<input type="submit" value="Acess Details">
			<input type="reset" value="Reset">
			<button id="button2"><a href="index.php" class="sign">Home</a></button>
			</form>
		</center>
		<hr/>
</body>
</html>

